In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import statsmodels.api as sm

In [2]:
# Reading Datasets
patent = pd.read_csv('PATENT.csv', index_col=False)
foreign = pd.read_csv('FOREIGN.csv', index_col=False)
employment = pd.read_csv('EMPLOYMENT.csv', index_col=False)
control = pd.read_csv('CONTROL.csv', index_col=False)
cumulative = pd.read_csv('CUMULATIVE.csv', index_col=False)
wage = pd.read_csv('WAGE.csv', index_col=False)

In [3]:
# Getting Cumulative Patent Counts
cols = cumulative.columns[1:]
cumulative[cols] = cumulative[cols].cumsum(axis=1)

# Drop pre-1990
cumulative = cumulative.drop('Pre-1990', axis=1)

In [4]:
# Summary Statistics
summary = wage.describe().T
formatted_summary = summary.style.format("{:.2f}")
display(formatted_summary)

In [5]:
# Test Data Frame
print(wage.head())

     NAICS    1990    1991    1992   1993   1994   1995    1996   1997   1998  \
0      311   9.040   9.320   9.590   9.82  10.00  10.26  10.500  10.77  11.09
1      321   8.820   9.020   9.240   9.40   9.66   9.92  10.240  10.53  10.85
2  322,323  11.585  11.885  12.155  12.40  12.69  13.01  13.395  13.77  14.20
3      325  12.850  13.300  13.700  13.97  14.33  14.86  15.370  15.78  16.23
4      326   9.760  10.070  10.350  10.56  10.67  10.86  11.170  11.48  11.79

   ...   2001   2002   2003   2004    2005    2006    2007   2008   2009  \
0  ...  12.18  12.55  12.80  12.98  13.040  13.130  13.550  14.00  14.39
1  ...  11.99  12.33  12.71  13.03  13.160  13.390  13.680  14.19  14.92
2  ...  15.43  15.89  16.35  16.81  16.865  16.905  17.295  17.82  18.02
3  ...  17.57  17.97  18.50  19.17  19.670  19.600  19.550  19.50  20.30
4  ...  13.21  13.55  14.18  14.59  14.800  14.970  15.390  15.85  16.01

     2010
0  14.410
1  14.850
2  18.475
3  21.070
4  15.710

[5 rows x 22 columns]

In [6]:
# #Summary for Employment Variable
# employment.set_index('NAICS', inplace=True)
# employment_T = employment.T

# # Plot the data
# ax = employment_T.plot(figsize=(8, 5), linewidth=2, fontsize=12)

# # Set the axis labels and title
# ax.set_xlabel('Year', fontsize=12)
# ax.set_ylabel('Employed Workers (in thousands)', fontsize=12)
# ax.set_title('Employment by NAICS code over time', fontsize=14)

# # Show the plot
# plt.show()

In [7]:
# #Summary for Patent Variable
# patent.set_index('NAICS', inplace=True)
# patent_T = patent.T

# # Plot the data
# ax = patent_T.plot(figsize=(8, 5), linewidth=2, fontsize=12)

# # Set the axis labels and title
# ax.set_xlabel('Year', fontsize=12)
# ax.set_ylabel('Annual Registered Patents', fontsize=12)
# ax.set_title('Patents by NAICS code over time', fontsize=14)

# # Show the plot
# plt.show()

In [8]:
# #Summary for Cumulative Patent Variable
# cumulative.set_index('NAICS', inplace=True)
# cumulative_T = cumulative.T

# # Plot the data
# ax = cumulative_T.plot(figsize=(8, 5), linewidth=2, fontsize=12)

# # Set the axis labels and title
# ax.set_xlabel('Year', fontsize=12)
# ax.set_ylabel('Cumulative Registered Patents', fontsize=12)
# ax.set_title('Cumulative Patent Counts by NAICS code over time', fontsize=14)

# # Show the plot
# plt.show()

In [9]:
# #Summary for Wage Variable
# wage.set_index('NAICS', inplace=True)
# wage_T = wage.T

# # Plot the data
# ax = wage_T.plot(figsize=(8, 5), linewidth=2, fontsize=12)

# # Set the axis labels and title
# ax.set_xlabel('Year', fontsize=12)
# ax.set_ylabel('Average Wage (in USD)', fontsize=12)
# ax.set_title('Average Wage by NAICS code over time', fontsize=14)

# # Show the plot
# plt.show()

In [10]:
# Merge Employment and Patent Data Frames
melted_employment = employment.reset_index(drop=True).melt(id_vars='NAICS', var_name='Year', value_name='employment')
melted_patent = patent.reset_index(drop=True).melt(id_vars='NAICS', var_name='Year', value_name='patent')
# Add Patent t-1 column to Data Frame
melted_patent['patent_t-1'] = melted_patent.groupby('NAICS')['patent'].shift(1)
# Add Patent t-2 column to Data Frame
melted_patent['patent_t-2'] = melted_patent.groupby('NAICS')['patent'].shift(2)
complete_df = pd.merge(melted_employment, melted_patent, on=['NAICS', 'Year'])

In [11]:
# Test Merged Data Frame
print(complete_df.head())

     NAICS  Year   employment  patent  patent_t-1  patent_t-2
0      311  1990  1506.741667     368       368.0       258.0
1      321  1990   542.991667     173       201.0       151.0
2  322,323  1990  1455.633333     507       477.0       380.0
3      325  1990  1035.833333    6275      6554.0      5275.0
4      326  1990   824.900000    2537      2624.0      2126.0

In [12]:
# Add Cumulative Patent Data Frame
melted_cumulative = cumulative.reset_index(drop=True).melt(id_vars='NAICS', var_name='Year', value_name='cum_patent')
complete_df = pd.merge(complete_df, melted_cumulative, on=['NAICS', 'Year'])

In [13]:
# Test Merged Data Frame
print(complete_df.head())

     NAICS  Year   employment  patent  patent_t-1  patent_t-2  cum_patent
0      311  1990  1506.741667     368       368.0       258.0        7688
1      321  1990   542.991667     173       201.0       151.0        4629
2  322,323  1990  1455.633333     507       477.0       380.0       10348
3      325  1990  1035.833333    6275      6554.0      5275.0      168435
4      326  1990   824.900000    2537      2624.0      2126.0       60552

In [14]:
# Add Wage Data Frame
melted_wage = wage.reset_index(drop=True).melt(id_vars='NAICS', var_name='Year', value_name='wage')
complete_df = pd.merge(complete_df, melted_wage, on=['NAICS', 'Year'])

In [15]:
# Test Merged Data Frame
print(complete_df.head())

     NAICS  Year   employment  patent  patent_t-1  patent_t-2  cum_patent  \
0      311  1990  1506.741667     368       368.0       258.0        7688
1      321  1990   542.991667     173       201.0       151.0        4629
2  322,323  1990  1455.633333     507       477.0       380.0       10348
3      325  1990  1035.833333    6275      6554.0      5275.0      168435
4      326  1990   824.900000    2537      2624.0      2126.0       60552

     wage
0   9.040
1   8.820
2  11.585
3  12.850
4   9.760

In [16]:
# Merge with Control Variables
control.rename(columns={'year': 'Year'}, inplace=True)
complete_df['Year'] = complete_df['Year'].astype('int64')
complete_df = pd.merge(complete_df, control.reset_index(drop=True), on='Year')

In [17]:
# Test Merged Data Frame
print(complete_df.head())
print(complete_df.shape[0])

     NAICS  Year   employment  patent  patent_t-1  patent_t-2  cum_patent  \
0      311  1990  1506.741667     368       368.0       258.0        7688
1      321  1990   542.991667     173       201.0       151.0        4629
2  322,323  1990  1455.633333     507       477.0       380.0       10348
3      325  1990  1035.833333    6275      6554.0      5275.0      168435
4      326  1990   824.900000    2537      2624.0      2126.0       60552

     wage  gdp_rate       cpi      labor        tax    fdi_in   fdi_out  \
0   9.040  1.885965  59.91976  127352635  30.553273  1.194504  1.005174
1   8.820  1.885965  59.91976  127352635  30.553273  1.194504  1.005174
2  11.585  1.885965  59.91976  127352635  30.553273  1.194504  1.005174
3  12.850  1.885965  59.91976  127352635  30.553273  1.194504  1.005174
4   9.760  1.885965  59.91976  127352635  30.553273  1.194504  1.005174

   unem_spend  min_wage      debt    r&d
0       0.417       3.8  53.62628  2.556
1       0.417       3.8  53.62628  2.556
2       0.417       3.8  53.62628  2.556
3       0.417       3.8  53.62628  2.556
4       0.417       3.8  53.62628  2.556
273

In [18]:
#Summary Statistics
summary = complete_df.describe().T
formatted_summary = summary.style.format("{:.2f}")
display(formatted_summary)

In [19]:
# Regression on patent without Control Variables

# Define the X and Y variables
X = complete_df[['patent']]
Y = complete_df['employment']

# Add a constant term to the X variable
X = sm.add_constant(X)

# Fit the OLS regression model
model_1 = sm.OLS(Y, X).fit()

# Print the model summary
print(model_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             employment   R-squared:                       0.082
Model:                            OLS   Adj. R-squared:                  0.078
Method:                 Least Squares   F-statistic:                     24.10
Date:                Thu, 11 May 2023   Prob (F-statistic):           1.58e-06
Time:                        14:52:24   Log-Likelihood:                -2067.0
No. Observations:                 273   AIC:                             4138.
Df Residuals:                     271   BIC:                             4145.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        957.7879     33.209     28.841      0.000     892.407    1023.168
patent         0.0164      0.003      4.909      0.000       0.010       0.023
==============================================================================
Omnibus:                       62.249   Durbin-Watson:                   2.725
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               22.838
Skew:                           0.498   Prob(JB):                     1.10e-05
Kurtosis:                       1.992   Cond. No.                     1.15e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.15e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [20]:
# Regression on cumulative patent without Control Variables

# Define the X and Y variables
X = complete_df[['cum_patent']]
Y = complete_df['employment']

# Add a constant term to the X variable
X = sm.add_constant(X)

# Fit the OLS regression model
model_2 = sm.OLS(Y, X).fit()

# Print the model summary
print(model_2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             employment   R-squared:                       0.092
Model:                            OLS   Adj. R-squared:                  0.088
Method:                 Least Squares   F-statistic:                     27.32
Date:                Thu, 11 May 2023   Prob (F-statistic):           3.44e-07
Time:                        14:52:24   Log-Likelihood:                -2065.5
No. Observations:                 273   AIC:                             4135.
Df Residuals:                     271   BIC:                             4142.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        919.2487     36.735     25.024      0.000     846.927     991.570
cum_patent     0.0009      0.000      5.227      0.000       0.001       0.001
==============================================================================
Omnibus:                       49.428   Durbin-Watson:                   2.775
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.906
Skew:                           0.576   Prob(JB):                     3.91e-06
Kurtosis:                       2.072   Cond. No.                     2.68e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.68e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [21]:
# Regression

# Define the X and Y variables
X = complete_df[['patent', 'gdp_rate', 'cpi', 'labor', 'tax', 'fdi_in', 'fdi_out', 'unem_spend', 'min_wage', 'debt']]
Y = complete_df['employment']

# Add a constant term to the X variable
X = sm.add_constant(X)

# Fit the OLS regression model
model_3 = sm.OLS(Y, X).fit()

# Print the model summary
print(model_3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             employment   R-squared:                       0.144
Model:                            OLS   Adj. R-squared:                  0.111
Method:                 Least Squares   F-statistic:                     4.404
Date:                Thu, 11 May 2023   Prob (F-statistic):           9.91e-06
Time:                        14:52:24   Log-Likelihood:                -2057.4
No. Observations:                 273   AIC:                             4137.
Df Residuals:                     262   BIC:                             4177.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -134.6559   6222.328     -0.022      0.983   -1.24e+04    1.21e+04
patent         0.0178      0.003      5.368      0.000       0.011       0.024
gdp_rate      -0.2717     28.016     -0.010      0.992     -55.436      54.893
cpi          -18.6079     25.014     -0.744      0.458     -67.863      30.647
labor       9.831e-06   3.34e-05      0.294      0.769    -5.6e-05    7.57e-05
tax           31.5168    193.626      0.163      0.871    -349.744     412.778
fdi_in         8.5394     73.662      0.116      0.908    -136.506     153.585
fdi_out       -9.5415     57.948     -0.165      0.869    -123.644     104.561
unem_spend  -271.2805    281.377     -0.964      0.336    -825.328     282.767
min_wage      36.5644    159.958      0.229      0.819    -278.402     351.531
debt           1.8518     11.245      0.165      0.869     -20.291      23.995
==============================================================================
Omnibus:                       88.300   Durbin-Watson:                   2.933
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.304
Skew:                           0.486   Prob(JB):                     5.28e-06
Kurtosis:                       1.908   Cond. No.                     3.21e+10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.21e+10. This might indicate that there are
strong multicollinearity or other numerical problems.

In [22]:
# Regression with Cumulative Patent Count

# Define the X and Y variables
X = complete_df[['cum_patent', 'gdp_rate', 'cpi', 'labor', 'tax', 'fdi_in', 'fdi_out', 'unem_spend', 'min_wage', 'debt']]
Y = complete_df['employment']

# Add a constant term to the X variable
X = sm.add_constant(X)

# Fit the OLS regression model
model_4 = sm.OLS(Y, X).fit()

# Print the model summary
print(model_4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             employment   R-squared:                       0.171
Model:                            OLS   Adj. R-squared:                  0.139
Method:                 Least Squares   F-statistic:                     5.393
Date:                Thu, 11 May 2023   Prob (F-statistic):           2.93e-07
Time:                        14:52:24   Log-Likelihood:                -2053.1
No. Observations:                 273   AIC:                             4128.
Df Residuals:                     262   BIC:                             4168.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -782.1813   6122.618     -0.128      0.898   -1.28e+04    1.13e+04
cum_patent     0.0011      0.000      6.182      0.000       0.001       0.001
gdp_rate      -0.0645     27.573     -0.002      0.998     -54.358      54.229
cpi          -24.1033     24.619     -0.979      0.328     -72.580      24.373
labor       1.521e-05   3.29e-05      0.462      0.644   -4.96e-05       8e-05
tax           40.0158    190.563      0.210      0.834    -335.215     415.246
fdi_in        14.5554     72.488      0.201      0.841    -128.178     157.289
fdi_out      -10.9262     57.033     -0.192      0.848    -123.227     101.375
unem_spend  -236.2847    276.762     -0.854      0.394    -781.245     308.676
min_wage      32.1544    157.428      0.204      0.838    -277.831     342.140
debt           1.8492     11.068      0.167      0.867     -19.944      23.643
==============================================================================
Omnibus:                       55.823   Durbin-Watson:                   3.042
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               26.742
Skew:                           0.598   Prob(JB):                     1.56e-06
Kurtosis:                       2.041   Cond. No.                     3.21e+10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.21e+10. This might indicate that there are
strong multicollinearity or other numerical problems.

In [23]:
# Regression with Patent Count and Wage

# Define the X and Y variables
X = complete_df[['patent', 'wage', 'gdp_rate', 'cpi', 'labor', 'tax', 'fdi_in', 'fdi_out', 'unem_spend', 'debt']]
Y = complete_df['employment']

# Add a constant term to the X variable
X = sm.add_constant(X)

# Fit the OLS regression model
model_5 = sm.OLS(Y, X).fit()

# Print the model summary
print(model_5.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             employment   R-squared:                       0.225
Model:                            OLS   Adj. R-squared:                  0.196
Method:                 Least Squares   F-statistic:                     7.621
Date:                Thu, 11 May 2023   Prob (F-statistic):           1.13e-10
Time:                        14:52:24   Log-Likelihood:                -2043.8
No. Observations:                 273   AIC:                             4110.
Df Residuals:                     262   BIC:                             4149.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -222.6856   5903.504     -0.038      0.970   -1.18e+04    1.14e+04
patent         0.0126      0.003      3.793      0.000       0.006       0.019
wage          63.0611     12.003      5.254      0.000      39.426      86.697
gdp_rate      -5.6855     20.500     -0.277      0.782     -46.050      34.679
cpi          -30.4475     22.328     -1.364      0.174     -74.413      13.518
labor       1.129e-05   2.65e-05      0.425      0.671    -4.1e-05    6.36e-05
tax           28.4985    180.096      0.158      0.874    -326.121     383.118
fdi_in        23.9761     57.752      0.415      0.678     -89.740     137.692
fdi_out      -10.9536     55.123     -0.199      0.843    -119.494      97.586
unem_spend  -317.5472    255.262     -1.244      0.215    -820.174     185.080
debt           5.4292      7.430      0.731      0.466      -9.202      20.060
==============================================================================
Omnibus:                      127.911   Durbin-Watson:                   2.654
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               20.877
Skew:                           0.337   Prob(JB):                     2.93e-05
Kurtosis:                       1.825   Cond. No.                     3.20e+10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.2e+10. This might indicate that there are
strong multicollinearity or other numerical problems.

In [24]:
# Regression with Patent Count and Wage

# Define the X and Y variables
X = complete_df[['cum_patent', 'wage', 'gdp_rate', 'cpi', 'labor', 'tax', 'fdi_in', 'fdi_out', 'unem_spend', 'debt']]
Y = complete_df['employment']

# Add a constant term to the X variable
X = sm.add_constant(X)

# Fit the OLS regression model
model_5b = sm.OLS(Y, X).fit()

# Print the model summary
print(model_5b.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             employment   R-squared:                       0.239
Model:                            OLS   Adj. R-squared:                  0.209
Method:                 Least Squares   F-statistic:                     8.206
Date:                Thu, 11 May 2023   Prob (F-statistic):           1.49e-11
Time:                        14:52:25   Log-Likelihood:                -2041.4
No. Observations:                 273   AIC:                             4105.
Df Residuals:                     262   BIC:                             4145.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -685.4858   5851.857     -0.117      0.907   -1.22e+04    1.08e+04
cum_patent     0.0008      0.000      4.378      0.000       0.000       0.001
wage          58.4684     12.094      4.834      0.000      34.654      82.282
gdp_rate      -5.0792     20.324     -0.250      0.803     -45.099      34.941
cpi          -33.5385     22.118     -1.516      0.131     -77.090      10.013
labor       1.503e-05   2.63e-05      0.571      0.568   -3.68e-05    6.68e-05
tax           35.0335    178.545      0.196      0.845    -316.533     386.600
fdi_in        27.0830     57.246      0.473      0.637     -85.639     139.805
fdi_out      -11.8577     54.651     -0.217      0.828    -119.469      95.754
unem_spend  -288.9779    253.039     -1.142      0.254    -787.227     209.272
debt           5.1379      7.367      0.697      0.486      -9.368      19.644
==============================================================================
Omnibus:                       93.512   Durbin-Watson:                   2.748
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               22.088
Skew:                           0.421   Prob(JB):                     1.60e-05
Kurtosis:                       1.890   Cond. No.                     3.20e+10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.2e+10. This might indicate that there are
strong multicollinearity or other numerical problems.

In [25]:
# Regression with Patent Count and Wage

# Define the X and Y variables
X = complete_df[['patent', 'patent_t-1', 'patent_t-2', 'gdp_rate', 'cpi', 'labor', 'tax', 'fdi_in', 'fdi_out', 'unem_spend','min_wage', 'debt']]
Y = complete_df['employment']

# Add a constant term to the X variable
X = sm.add_constant(X)

# Fit the OLS regression model
model_6 = sm.OLS(Y, X).fit()

# Print the model summary
print(model_6.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             employment   R-squared:                       0.146
Model:                            OLS   Adj. R-squared:                  0.107
Method:                 Least Squares   F-statistic:                     3.703
Date:                Thu, 11 May 2023   Prob (F-statistic):           3.61e-05
Time:                        14:52:25   Log-Likelihood:                -2057.1
No. Observations:                 273   AIC:                             4140.
Df Residuals:                     260   BIC:                             4187.
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -521.6853   6333.265     -0.082      0.934    -1.3e+04    1.19e+04
patent        -0.0022      0.026     -0.084      0.933      -0.053       0.049
patent_t-1     0.0173      0.034      0.513      0.608      -0.049       0.084
patent_t-2     0.0046      0.032      0.143      0.886      -0.059       0.068
gdp_rate      -0.9193     28.151     -0.033      0.974     -56.351      54.513
cpi          -20.8824     25.298     -0.825      0.410     -70.697      28.932
labor       1.244e-05   3.37e-05      0.369      0.712   -5.39e-05    7.88e-05
tax           35.4496    196.803      0.180      0.857    -352.080     422.980
fdi_in        17.3020     74.686      0.232      0.817    -129.764     164.368
fdi_out      -11.9461     58.855     -0.203      0.839    -127.840     103.948
unem_spend  -252.3037    283.369     -0.890      0.374    -810.294     305.687
min_wage      27.9536    161.243      0.173      0.863    -289.555     345.462
debt           3.3695     11.441      0.294      0.769     -19.160      25.899
==============================================================================
Omnibus:                       86.664   Durbin-Watson:                   2.937
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.717
Skew:                           0.498   Prob(JB):                     4.29e-06
Kurtosis:                       1.913   Cond. No.                     3.26e+10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.26e+10. This might indicate that there are
strong multicollinearity or other numerical problems.

In [26]:
# Regression with Patent Count and Wage

# Define the X and Y variables
X = complete_df[['patent', 'r&d', 'gdp_rate', 'cpi', 'labor', 'tax', 'fdi_in', 'fdi_out', 'unem_spend', 'min_wage', 'debt']]
Y = complete_df['employment']

# Add a constant term to the X variable
X = sm.add_constant(X)

# Fit the OLS regression model
model_7 = sm.OLS(Y, X).fit()

# Print the model summary
print(model_7.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             employment   R-squared:                       0.144
Model:                            OLS   Adj. R-squared:                  0.108
Method:                 Least Squares   F-statistic:                     3.988
Date:                Thu, 11 May 2023   Prob (F-statistic):           2.19e-05
Time:                        14:52:25   Log-Likelihood:                -2057.4
No. Observations:                 273   AIC:                             4139.
Df Residuals:                     261   BIC:                             4182.
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -18.9049   7524.529     -0.003      0.998   -1.48e+04    1.48e+04
patent         0.0178      0.003      5.358      0.000       0.011       0.024
r&d          -32.1743   1171.167     -0.027      0.978   -2338.313    2273.965
gdp_rate      -0.9607     37.643     -0.026      0.980     -75.084      73.162
cpi          -18.0510     32.234     -0.560      0.576     -81.523      45.421
labor       9.009e-06   4.49e-05      0.201      0.841   -7.94e-05    9.74e-05
tax           32.7187    198.868      0.165      0.869    -358.872     424.309
fdi_in        10.5940    105.074      0.101      0.920    -196.307     217.495
fdi_out      -10.7112     71.999     -0.149      0.882    -152.485     131.062
unem_spend  -264.7625    368.467     -0.719      0.473    -990.309     460.784
min_wage      41.6674    245.334      0.170      0.865    -441.418     524.753
debt           1.4590     18.204      0.080      0.936     -34.386      37.304
==============================================================================
Omnibus:                       88.247   Durbin-Watson:                   2.933
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.305
Skew:                           0.486   Prob(JB):                     5.28e-06
Kurtosis:                       1.908   Cond. No.                     3.89e+10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.89e+10. This might indicate that there are
strong multicollinearity or other numerical problems.

In [27]:
# Regression with Patent Count and Wage

# Define the X and Y variables
X = complete_df[['cum_patent', 'r&d', 'wage', 'gdp_rate', 'cpi', 'labor', 'tax', 'fdi_in', 'fdi_out', 'unem_spend', 'debt']]
Y = complete_df['employment']

# Add a constant term to the X variable
X = sm.add_constant(X)

# Fit the OLS regression model
model_8 = sm.OLS(Y, X).fit()

# Print the model summary
print(model_8.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             employment   R-squared:                       0.239
Model:                            OLS   Adj. R-squared:                  0.207
Method:                 Least Squares   F-statistic:                     7.435
Date:                Thu, 11 May 2023   Prob (F-statistic):           4.38e-11
Time:                        14:52:25   Log-Likelihood:                -2041.4
No. Observations:                 273   AIC:                             4107.
Df Residuals:                     261   BIC:                             4150.
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1071.6447   6288.366     -0.170      0.865   -1.35e+04    1.13e+04
cum_patent     0.0008      0.000      4.370      0.000       0.000       0.001
r&d          122.5137    721.513      0.170      0.865   -1298.214    1543.241
wage          58.4742     12.117      4.826      0.000      34.615      82.333
gdp_rate      -0.2805     34.832     -0.008      0.994     -68.868      68.307
cpi          -34.5830     22.997     -1.504      0.134     -79.867      10.701
labor       1.592e-05   2.69e-05      0.592      0.554    -3.7e-05    6.88e-05
tax           35.3903    178.890      0.198      0.843    -316.860     387.641
fdi_in        14.1904     95.154      0.149      0.882    -173.177     201.558
fdi_out       -7.4414     60.616     -0.123      0.902    -126.800     111.917
unem_spend  -324.2062    327.582     -0.990      0.323    -969.247     320.834
debt           5.6501      7.973      0.709      0.479     -10.050      21.351
==============================================================================
Omnibus:                       93.859   Durbin-Watson:                   2.748
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               22.080
Skew:                           0.420   Prob(JB):                     1.60e-05
Kurtosis:                       1.889   Cond. No.                     3.44e+10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.44e+10. This might indicate that there are
strong multicollinearity or other numerical problems.

In [28]:
# Create a dictionary to store the summary statistics for each model
summary_dict = {
    'Model 1': model_1.summary2(),
    'Model 2': model_2.summary2(),
    'Model 3': model_3.summary2(),
    'Model 4': model_4.summary2()
}

# Create a DataFrame to store the summary statistics for all models
summary_table = pd.DataFrame(columns=['Model', 'Summary'])

# Populate the DataFrame with model names and summary statistics
for model_name, summary in summary_dict.items():
    summary_table = summary_table.append({'Model': model_name, 'Summary': summary.tables[1]}, ignore_index=True)

# Print or display the summary table
for _, row in summary_table.iterrows():
    print(row['Model'])
    print(row['Summary'])
    print('\n' + '=' * 50 + '\n')  # Print separator between models

Model 1
             Coef.   Std.Err.          t         P>|t|      [0.025  \
const   957.787887  33.209035  28.841184  1.425817e-84  892.407390
patent    0.016434   0.003348   4.908901  1.583979e-06    0.009843

             0.975]
const   1023.168385
patent     0.023026

==================================================

Model 2
                 Coef.   Std.Err.          t         P>|t|      [0.025  \
const       919.248712  36.734754  25.023951  2.057891e-72  846.926932
cum_patent    0.000926   0.000177   5.227098  3.443113e-07    0.000577

                0.975]
const       991.570492
cum_patent    0.001275

==================================================

Model 3
                 Coef.     Std.Err.         t         P>|t|        [0.025  \
const      -134.655934  6222.327780 -0.021641  9.827510e-01 -12386.790900
patent        0.017804     0.003317  5.367803  1.756018e-07      0.011273
gdp_rate     -0.271658    28.015550 -0.009697  9.922707e-01    -55.435948
cpi         -18.607892    25.014384 -0.743888  4.576110e-01    -67.862709
labor         0.000010     0.000033  0.293933  7.690415e-01     -0.000056
tax          31.516791   193.625993  0.162771  8.708238e-01   -349.744351
fdi_in        8.539354    73.662468  0.115925  9.078004e-01   -136.506443
fdi_out      -9.541459    57.947806 -0.164656  8.693417e-01   -123.644150
unem_spend -271.280517   281.376846 -0.964118  3.358757e-01   -825.328329
min_wage     36.564423   159.957871  0.228588  8.193676e-01   -278.402178
debt          1.851833    11.245492  0.164673  8.693281e-01    -20.291213

                  0.975]
const       12117.479032
patent          0.024335
gdp_rate       54.892633
cpi            30.646924
labor           0.000076
tax           412.777933
fdi_in        153.585152
fdi_out       104.561233
unem_spend    282.767296
min_wage      351.531023
debt           23.994878

==================================================

Model 4
                 Coef.     Std.Err.         t         P>|t|        [0.025  \
const      -782.181268  6122.618422 -0.127753  8.984427e-01 -12837.982556
cum_patent    0.001086     0.000176  6.181859  2.415997e-09      0.000740
gdp_rate     -0.064516    27.573346 -0.002340  9.981349e-01    -54.358081
cpi         -24.103261    24.619127 -0.979046  3.284603e-01    -72.579792
labor         0.000015     0.000033  0.462153  6.443550e-01     -0.000050
tax          40.015754   190.563254  0.209987  8.338412e-01   -335.214673
fdi_in       14.555447    72.487985  0.200798  8.410123e-01   -128.177725
fdi_out     -10.926203    57.032679 -0.191578  8.482212e-01   -123.226953
unem_spend -236.284696   276.761915 -0.853747  3.940250e-01   -781.245433
min_wage     32.154351   157.428107  0.204248  8.383184e-01   -277.830992
debt          1.849239    11.067966  0.167080  8.674358e-01    -19.944247

                  0.975]
const       11273.620019
cum_patent      0.001432
gdp_rate       54.229050
cpi            24.373270
labor           0.000080
tax           415.246181
fdi_in        157.288619
fdi_out       101.374547
unem_spend    308.676041
min_wage      342.139694
debt           23.642724

==================================================

In [29]:
reg_summaries = [model_1.summary(), model_2.summary(), model_3.summary()]

# create a list of dictionaries to store the relevant information for each model
model_dicts = []

for summary in reg_summaries:
    # get the coefficient and standard error of each variable
    coef = summary.params
    std_err = summary.bse
    
    # get the observation count and R-squared value
    nobs = summary.nobs
    rsquared = summary.rsquared
    
    # create a dictionary with the relevant information
    model_dict = {
        'coef': coef,
        'std_err': std_err,
        'nobs': nobs,
        'rsquared': rsquared
    }
    
    # add the dictionary to the list of model dictionaries
    model_dicts.append(model_dict)

# create a list of variable names
var_names = list(reg_summaries[0].params.index)

# create an empty dataframe with columns for the relevant information
results_df = pd.DataFrame(columns=['Variable', 'Model 1 Coef', 'Model 1 SE', 'Model 2 Coef', 'Model 2 SE', 'Model 3 Coef', 'Model 3 SE', 'Model 1 nobs', 'Model 1 R-squared', 'Model 2 nobs', 'Model 2 R-squared', 'Model 3 nobs', 'Model 3 R-squared'])

# loop through the variable names and add the information for each variable to the dataframe
for var_name in var_names:
    row_dict = {'Variable': var_name}
    for i, model_dict in enumerate(model_dicts):
        row_dict[f'Model {i+1} Coef'] = model_dict['coef'][var_name]
        row_dict[f'Model {i+1} SE'] = model_dict['std_err'][var_name]
        row_dict[f'Model {i+1} nobs'] = model_dict['nobs']
        row_dict[f'Model {i+1} R-squared'] = model_dict['rsquared']
    results_df = results_df.append(row_dict, ignore_index=True)

# print the dataframe
print(results_df)

AttributeError: 'Summary' object has no attribute 'params'